<nav class="nav nav-tabs nav-stacked">
    <a class="nav-link @(Model.ActiveAdminTab == AdminTabs.UsersManagement ? "active" : "")" asp-controller="Admin" asp-action="Index">User Management</a>
    <a class="nav-link" href="#">Other</a>
</nav>